a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 100;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1vh;
}

#logo {
    width: 200px;
}

.links {
    display: flex;
    align-items: center;
    padding-right: 15vh;
    gap: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0vh 3vh 0vh 3vh;
    background-color: #FFFFFE;
    box-shadow: 1px 1px 3px;
    position: fixed;
    /* top: 5px;
    left: 5px; */
    width: 100%;

}